<div class="container.fluid">
    <br>

    {{>nav-index}}
    <br><br>

    {{!-- CARRUSEL DE IMAGENES --}}
    <div class="car1">
        <div id="carrusel-index">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active elemento">
                        <img src="img/Guaviare.jpg" class=" w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>

                    </div>
                    <div class="carousel-item elemento">
                        <img src="img/Tinigua.jpg" class=" w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>

                    </div>
                    <div class="carousel-item elemento">
                        <img src="img/selva.jpg" class=" w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    {{>donar}}

    {{!-- CARRUSEL DE ARBOLES --}}
    <div class="car2">
        <div class="container">
            <h2 class="text-center text-dark">Árboles aptos e ideales para reforestar la Amazonia</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

                <div class="car_lista ">

                    <div class="car_elemento bg-light">

                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t1.ev.ltmcdn.com/es/posts/1/2/9/alamo_blanco_populus_alba_2921_0_600.webp"
                                    alt="">
                            </div>
                        </div>

                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center ">

                                <h5>Álamo blanco (Populus alba)</h5>
                                <p>El álamo blanco (Populus alba) es uno de los árboles propios del ecosistema de ribera
                                    y uno de los más utilizados a la hora de reforestar o repoblar zonas cercanas a los
                                    ríos. Su naturaleza robusta y su crecimiento rápido, lo hacen perfecto para crear en
                                    poco tiempo una zona segura. Además, llegan a alcanzar los 30 metros de altura y su
                                    corteza de color blanco es muy llamativa, por lo que también son utilizados por su
                                    valor ornamental.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">

                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t2.ev.ltmcdn.com/es/posts/1/2/9/chopo_o_alamo_negro_populus_nigra_2921_1_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10  text-center">
                                <h5>Chopo o álamo negro (Populus nigra)</h5>
                                <p>El Populus nigra es también conocido como chopo o álamo negro. Es otra de las
                                    especies propias de la zona de ribera y utilizada por su altura y gran copa de forma
                                    cónica. Su uso como árbol para reforestar es habitual gracias a la fuerza de su
                                    sistema radical, que cuenta con una raíz principal que se ramifica a gran
                                    profundidad proporcionando estabilidad al terreno.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">

                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t2.ev.ltmcdn.com/es/posts/1/2/9/encina_quercus_ilex_2921_2_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Encina (Quercus ilex)</h5>
                                <p>La encina (Quercus ilex) es un árbol conocido por su resistencia y fuerte estructura,
                                    llegando a alcanzar hasta los 25 metros de altura. Cuenta con una amplia copa muy
                                    ramificada y poblada. Gracias a ella, se crea un pequeño microclima a su alrededor
                                    que favorece la creación de nutrientes y que, a su vez, ofrece un medio óptimo para
                                    el crecimiento rápido de pastos. Por ello, es uno de los árboles para reforestar en
                                    España más utilizados.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t1.ev.ltmcdn.com/es/posts/1/2/9/enebro_juniperus_communis_2921_3_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Enebro (Juniperus communis)</h5>
                                <p>Aunque es más frecuente encontrar esta especie en su forma arbustiva, también puede
                                    llegar a alcanzar los 10 metros de altura. El enebro (Juniperus communis) dispone de
                                    una copa ramificada y aparasolada y, además, aunque es una especie de crecimiento
                                    muy lento, se utiliza con regularidad en trabajos de reforestación por su capacidad
                                    de adaptación a casi todo tipo de terrenos.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t1.ev.ltmcdn.com/es/posts/1/2/9/fresno_fraxinus_angustifolia_2921_4_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Fresno (Fraxinus angustifolia)</h5>
                                <p>El fresno (Fraxinus angustifolia) es uno de los mejores árboles para reforestar. Esto
                                    se debe a que el fresno cuenta con un amplio foliaje con hojas de tipo compuesto con
                                    hasta más de 13 foliólos. Estas sirven de alimento al ganado. Además, cuenta con un
                                    fuerte sistema radicular que ofrece protección al terreno. Por último, la sombra que
                                    ofrece su copa crea un entorno perfecto para otras especies de tipo arbustivo y
                                    herbáceo.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t2.ev.ltmcdn.com/es/posts/1/2/9/olmo_ulmus_minor_2921_5_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Olmo (Ulmus minor)</h5>
                                <p>Otro de los árboles para repoblar bosques o zonas naturales más utilizados es el olmo
                                    (Ulmus minor). Gracias a su altura de más de 30 metros y porte robusto, a lo largo
                                    de la historia también se ha utilizado como árbol protector de las estructuras de
                                    iglesias y conventos, mejorando el terreno de la zona y también ayudando a regular
                                    el clima.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t1.ev.ltmcdn.com/es/posts/1/2/9/pino_pinonero_pinus_pinea_2921_6_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Pino piñonero (Pinus pinea)</h5>
                                <p>El pino piñonero (Pinus pinea) mide entre 25 y 30 metros de altura, cuenta con una
                                    copa de forma esférica y un tronco cilíndrico de corteza dura y resistente. Su
                                    sistema radical es muy potente, por lo que se utiliza para reforestar como especie
                                    fijadora y protectora del terreno.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t2.ev.ltmcdn.com/es/posts/1/2/9/pino_resinero_pinus_pinaster_2921_7_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Pino resinero (Pinus pinaster)</h5>
                                <p>Se diferencia del piño piñero por su copa de forma piramidal y globosa. Además, el
                                    pino resinero (Pinus pinaster) es mucho más bajo, llegando alcanzar como máximo los
                                    20 metros de altura. Fue utilizado hace años por su resina, pero ahora es más usado
                                    para reforestar áreas desérticas, ya que también soporta bien todo tipo de terrenos
                                    y proporciona sujeción al suelo.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t1.ev.ltmcdn.com/es/posts/1/2/9/quejigo_quercus_faginea_2921_8_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Quejigo (Quercus faginea)</h5>
                                <p>Es un árbol de tamaño medio que puede llegar a alcanzar los 20 metros de altura. Su
                                    copa puede ser redondeada o alargada y cuenta con un follaje poco denso.
                                    El quejigo o roble carrasqueño (Quercus faginea) es un árbol que prefiere los climas
                                    cálidos y los terrenos calizos. También soporta bien los yesos e incluso se adapta a
                                    los terrenos silíceos.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t2.ev.ltmcdn.com/es/posts/1/2/9/sabina_juniperus_thurifera_2921_9_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center ">
                            <div class="col-md-10 text-center text_arb">

                                <h5>Sabina (Juniperus thurifera)</h5>
                                <p>Este árbol de tipo mediano suele medir entre 4 y 12 metros de altura, aunque
                                    dependiendo de los cuidados pueden llegar a alcanzar los 20 metros. Tiene un tronco
                                    grueso, retorcido y de color grisáceo.

                                    Aunque la sabina (Juniperus thurifera) es un árbol de crecimiento lento se utiliza
                                    por su buena adaptación en climas extremos. A esto se le suma que su madera de color
                                    rojizo, es muy dura y resistente tanto a la putrefacción y como a los insectos.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">

                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t1.ev.ltmcdn.com/es/posts/1/2/9/sauce_salix_spp_2921_10_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Sauce (Salix spp.)</h5>
                                <p>Los sauces (Salix spp.) cuentan con una amplia variedad de especies. Estos van desde
                                    pequeños ejemplares de tipo arbustivo hasta árboles que superan los 20 metros de
                                    altura. En temas de reforestación, los sauces se utilizan para estabilizar laderas y
                                    para proteger repoblaciones de otras especies de árboles, como los pinos y robles.
                                    Al igual que sucede con el quejigo, es muy valorado por su fuerte sistema radical.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="car_elemento bg-light">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <img src="https://t1.ev.ltmcdn.com/es/posts/1/2/9/tamariz_tamarix_gallica_tamarix_africana_2921_11_600.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center text_arb">
                            <div class="col-md-10 text-center">

                                <h5>Tamariz (Tamarix gallica/africana)</h5>
                                <p> Tamariz (Tamarix gallica/ Tamarix africana). Se trata de una de las especies más
                                    utilizadas para repoblar ecosistemas de ribera, barrancos y humedales. Este es muy
                                    reconocible por sus flores diminutas blancas o rosadas.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
                <button class="carousel-control-prev prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark " aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next next" type="button" data-bs-target="#carouselExampleIndicators "
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark " aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
            <br>
            {{#if permisos}}
            <form action="/create-checkout-session" method="POST">
                <div class="d-grid gap-2 col-3 mx-auto">
                    <button type="submit" id="checkout-button" class="btn btn-success bg-gradient  mb-3">Donar</button>
                </div>
            </form>

            {{else}}
            <div class="d-grid gap-2 col-3 mx-auto">
                <button class="btn btn-success bg-gradient  mb-3 " data-bs-toggle="modal"
                    data-bs-target="#donarcomo">Donar</button>
            </div>
            {{/if}}
        </div>
    </div>

    {{!-- INFO --}}
    <div class="container.fluid otros bg-dark text-light">
        <br>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col text-dark">
                    <h2 class="text-center">Las grandes amenazas de la Amazonia</h2>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-md-8">
                    <img src="img/otros.jpg" alt="">
                </div>
                <div class="col-md-4 align-self-center">
                    <div class="row">
                        <h5>
                            - Concesiones mineras
                        </h5>
                    </div>
                    <br>
                    <div class="row">
                        <h5>
                            - Aumento de represas hidroeléctricas
                        </h5>
                    </div>
                    <br>
                    <div class="row">
                        <h5>
                            - Contruccón de carreteras
                        </h5>
                    </div>
                    <br>
                    <div class="row">
                        <h5>
                            - Expansión de la agricultura intensiva
                        </h5>
                    </div>
                    <br>
                    <div class="row">
                        <h5>
                            - Deforestación
                        </h5>
                    </div>
                    <br>
                    <div class="row">
                        <h5>
                            - Cambios en la legislación entorno a las áreas protegidas
                        </h5>
                    </div>

                </div>
            </div>
            <br>
        </div>
    </div>

</div>


{{>footer}}

</div>


