<div class="body">
    <div class="container">

        <br><br><br><br><br><br><br><br>

        <div class="p">
            <div class="msn">

                <h1>!Muchas Gracias
                    <br>
                    por tu Doncación¡
                </h1>
                <span class="material-icons">
                    sentiment_satisfied_alt
                </span>
                <br>
                <a href={{ruta}}>
                    <button type="button" class="btn btn-success">DonaTree</button>
                </a>
            </div>
        </div>

        {{!-- <div class="row justify-content-center">
            <div class="col-md-4 align-self-center text-center ">
                <h1>!Muchas Gracias
                    <br>
                    por tu Doncación¡
                </h1>
                <span class="material-icons">
                    sentiment_satisfied_alt
                </span>
                <br>
                <a href="/">
                    <button type="button" class="btn btn-outline-success">DonaTree</button>
                </a>
            </div> --}}

        </div>
    </div>

</div>