<div class="container.fluid">

    {{>nav-index}}
    <br><br><br>

    <div class="cp container bg-light">
        <div class="row justify-content-center">
            <div class="col-11">
                <br>
                <h5 id="sn">Sobre Nosotros</h5>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                nulla iste
                porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                suscipit
                earum
                natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                dolore
                numquam
                soluta magnam autem reiciendis non.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                nulla iste
                porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                suscipit
                earum
                natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                dolore
                numquam
                soluta magnam autem reiciendis non.
                <hr>

                <h5 id="np">Nuestras Politicas</h5>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                nulla iste
                porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                suscipit
                earum
                natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                dolore
                numquam
                soluta magnam autem reiciendis non.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                nulla iste
                porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                suscipit
                earum
                natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                dolore
                numquam
                soluta magnam autem reiciendis non.
                <hr>

                <h5 id="pf">Preguntas frecuentes</h5>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                nulla iste
                porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                suscipit
                earum
                natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                dolore
                numquam
                soluta magnam autem reiciendis non.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                nulla iste
                porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                suscipit
                earum
                natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                dolore
                numquam
                soluta magnam autem reiciendis non.
                <hr>

                <h5 id="tc">Terminos y condiciones</h5>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                nulla iste
                porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                suscipit
                earum
                natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                dolore
                numquam
                soluta magnam autem reiciendis non.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit pariatur fuga consequatur dolores
                nulla iste
                porro! Ratione a accusamus recusandae velit facere, impedit, dolore, nisi labore ea laboriosam
                suscipit
                earum
                natus placeat repellendus commodi mollitia! Aliquam, consectetur quas! Veniam, similique?
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium magni adipisci eaque
                dolore
                numquam
                soluta magnam autem reiciendis none.
                <hr>

                <h5>Developers</h5>
                <div class="container" id="developers">
                    <div class="row justify-content-center">
                        <div class="col-6 ">
                            <div class="devs ">
                                <h6>Stevenson Zapata Ramírez</h6>
                                <div class="row justify-content-center">
                                    <div class="foto ">
                                        <a href="#"> <img
                                                src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-person_90382.png"
                                                target="_blank" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="devs">
                                <h6>Juan Camilo Lopez </h6>
                                <div class="row justify-content-center">
                                    <div class="foto ">
                                        <a href="#"> <img
                                                src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-person_90382.png"
                                                target="_blank" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    {{>footer}}

</div>