<footer class="bg-success bg-gradient">
    <div class="container text-center">
        <br>

        <div class="row align-items-center">

            <div class="col-md-7 align-self-center ">

                <form class="form-horizontal" method="post">
                    <fieldset>
                        <h6 class="text-center fw-bold text-black">Contactanos</h6>
                        <div class="form-group">
                            <div class="col-md-8 mx-auto">
                                <input id="fname" name="name" type="text " placeholder="Nombre"
                                    class="form-control form-control-sm text-light bg-dark">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-8 mx-auto">
                                <input id="email" name="email" type="text" placeholder="Email"
                                    class="form-control form-control-sm text-light bg-dark">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-8 mx-auto">
                                <input id="phone" name="phone" type="text" placeholder="Telefono"
                                    class="form-control form-control-sm text-light bg-dark">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-8 mx-auto">
                                <textarea class="form-control form-control-sm text-light bg-dark" id="message"
                                    name="message"
                                    placeholder="Escribe tu mensaje aquí"
                                    rows="4"></textarea>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="d-grid gap-2 col-6 mx-auto ">
                                <button class="btn btn-primary btn-sm bg-dark bg-gradient" type="submit">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-5 align-self-center text-start">


                <div class="row justify-start-center">
                    <div class="col align-self-start ">
                        <div class="about">
                            <h6 class="fw-bold text-black">Sobre Nosotros</h6>
                            <a href="sobrenosotros##np">Nuestras Politicas</a> <br>
                            <a href="sobrenosotros#pf">Preguntas frecuentes</a> <br>
                            <a href="sobrenosotros#tc">Terminos y condiciones</a> <br>

                        </div>
                    </div>

                    <div class="col align-self-start ">
                        <div class="row ">
                            <h6 class="fw-bold text-black">Siguenos</h6>
                            <br>
                            <div class="iconos ">
                              
                                <a href="#"><img
                                        src="https://cdn.icon-icons.com/icons2/285/PNG/256/social_facebook_box_blue_256_30649.png"
                                        class="tamanio"></a>

                                <a href="#"><img
                                        src="https://cdn.icon-icons.com/icons2/1584/PNG/128/3721672-instagram_108066.png"
                                        class="tamanio"></a>

                                <a href="#"><img src="https://cdn.icon-icons.com/icons2/195/PNG/256/YouTube_23392.png"
                                        class="tamanio"></a>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>

        </div>

    </div>
    <br><br>

    <div class="row text-center">
        <div class="coL-12 coL-sm-8 coL-md-4 text-black">
            <div class="copy">
                <p>&copy; 2023 Todos los derechos reservados <br></p>
            </div>
        </div>
    </div>
    </div>
</footer>