<div class="container-form sign-in">
    {{!-- <form> --}}
        <div class="formulario">
            <h2 class="create-account">Iniciar Sesión</h2>

            <div class="mb-3">

                <input type="email" id="login-usuario" placeholder="Por favor ingrese su correo">
            </div>

            <div class="mb-3">

                <input type="password" id="login-clave" placeholder="Por fravor ingrese la contraseña">
            </div>
            <button id="btn_login" class="mb-3">Inciar Sesión</button>
        </div>
{{!-- 
    </form> --}}
    <div class="welcome-back">
        <div class="message">
            <h2>Registrate</h2>
            <p>Si aun no tienes una cuenta</p>
            <button class="sign-in-btn">Registrarse</button>
        </div>
    </div>
</div>