
<div id="registro-usaurio" class="container-form sign-up">
    <div class="welcome-back">
        <div class="message">
            <h2>Inicia Sesión</h2>
            <p>Si ya tienes una cuenta</p>
            <button class="sign-up-btn">Iniciar Sesión</button>
        </div>
    </div>
    <div class="formulario">
        <h2 class="create-account">Registrarse</h2>
        <div class="mb-3">
            <input type="text" id="nombre_usuario" placeholder="Por favor ingrese su nombre completo">
        </div>

        <div class="mb-3">
            
            <select id="nacionalidad" class="nacionalidad">
                <option>Seleccione su nacionalidad</option>
            </select>
        </div>

        <div class="mb-3">
            
            <input type="email" id="usuario" placeholder="Por favor ingrese su correo">
        </div>

        <div class="mb-3">
            
            <input type="password" id="clave" placeholder="Por fravor ingrese la contraseña">
        </div>

       <button id="btn-registrar-usuario">Registrarse</button>
    </div>
</div>